In [1]:
#Устанавливаем pySpark
!pip install pyspark >> None

In [64]:
import pyspark
from pyspark.sql.functions import col

### Домашнее задание

### Условие: дана таблица с колонками (id, name, salary, managerId), студентам необходимо написать код на spark, который создаст эту таблицу (данные указаны ниже) и в результате выдаст таблицу в которой будут имена сотрудников, которые зарабатывают больше своих менеджеров.

Данные для таблицы:

In [68]:
data = [(1, "Joe", 70, 3),
        (2, "Henry", 80, 4),
        (3, "Sam", 60, None),
        (4, "Max", 90, None)]

Результат должен быть:
Joe (табличка с одной строкой и одним столбцом со значением Joe)

In [69]:
 # Создание Spark сессии
spark = SparkSession.builder.appName("HW2").getOrCreate()

In [70]:
# Создаем DataFrame
df = spark.createDataFrame(data, ["Id", "name", "Salary", "managerId"])

# Выводим созданную таблицу
df.show()

+---+-----+------+---------+
| Id| name|Salary|managerId|
+---+-----+------+---------+
|  1|  Joe|    70|        3|
|  2|Henry|    80|        4|
|  3|  Sam|    60|     NULL|
|  4|  Max|    90|     NULL|
+---+-----+------+---------+

In [71]:
joined_df = df.alias('employees').join(df.alias('managers'), col('employees.managerId')==col('managers.id'))
joined_df.show()

+---+-----+------+---------+---+----+------+---------+
| Id| name|Salary|managerId| Id|name|Salary|managerId|
+---+-----+------+---------+---+----+------+---------+
|  1|  Joe|    70|        3|  3| Sam|    60|     NULL|
|  2|Henry|    80|        4|  4| Max|    90|     NULL|
+---+-----+------+---------+---+----+------+---------+

In [72]:
result = joined_df.filter(col('employees.salary')>col('managers.salary')).select('employees.name')
result.show()

+----+
|name|
+----+
| Joe|
+----+

In [73]:
spark.stop()